.btn-1{
    border: 1px solid var(--baked-blue-500-main);
    display: inline-block;
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    color: var(--baked-blue-500-main);
    border-radius: 2.5rem;
}
.btn-1:hover{
    background-color: var(--baked-blue-500-main);
    border: 1px solid var(--baked-blue-500-main);
    color: #FFF;

}
.heart{
    display: inline-block;
    height: 1.2rem;
    aspect-ratio: 1/1;
}
.heart img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.banner-product{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url(../img/product/banner.jpg) 50% 50% / cover;
    color: #fff;
    text-align: center;
}
.banner-product h1{
    margin-bottom: var(--space-x-small);
}
@media (max-width:1440px){
    .banner-product{
    height: 450px;
}
}
@media (max-width:768px){
    .banner-product{
    height: 100vh;
}
}