@media (max-width:1440px){
    .detail-1{
    margin-top: 10rem 2rem var(--space-3x-large);
}
.thumb-small-list>li {
    width: 116px;
    height: 116px;
}
.info-list .info-list-1 {
    flex: 4;
}
.info-list .info-list-2 {
    flex: 8;
}
.list-reveiw>li{
    flex-direction: column;
}
.list-review-1{
    width: auto;
}
.list-review-2{
    width: auto;
}
.review-track li{
    width: 370px;
    aspect-ratio: 1/1;
}
}