@media (max-width:768px){
    .detail-1{
        flex-direction: column;
        margin-top: 10rem 1rem var(--space-3x-large);
}
.detail-1>section {
    width: auto;
}
.detail-desc .desc {
    height: 100px;
    overflow: auto;
    margin-bottom: var(--space-3x-large);
}
.sticky-menu {
    height: 80px;
}
.sticky-menu>li a {
    font-size: 0.8rem;
}
.info-list{
    flex-direction: column;
}
.review-track li{
    width: 197px;
}
.list-review>li {
    flex-direction: column;
}
}