.banner-product .event{
    background: url(../img/event/event-banner.jpg) 50% 50% / cover;
}
.event-title{
    margin-top: var(--space-3x-large);
    margin-bottom: var(--space-2x-large);
    text-align: center;
}
.event-title h1{
    margin-bottom: var(--space-normal);
}
.event-ul{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: var(--space-2x-large) var(--space-normal);
    margin-bottom: var(--space-3x-large);
}
.event-ul figure{
    aspect-ratio: 467/600;
    margin-bottom: var(--space-x-large);
    overflow: hidden;
    /* 호버시효과 */
}
.event-ul figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s ease 0s;
}
.event-ul figure img:hover{
    transform: scale(1.2);
}
.event-ul h3{
    margin-bottom: var(--space-x-small);
}
