@media(max-width:1440px){
  main {
    margin-top: 73px;
}

    header.fold~main{
        margin-top: 94px;
    }
    header.fold~main{
        margin-top: 74px;
    }
/* off-store */
    .off-store figure{
    width: 40%;
    flex-shrink: 0;
    aspect-ratio: 386/515;
}
    .off-store figure img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}