@media (min-width:1920px) {
    body{
        max-width: 1920px;
        margin:0 auto ;
    }
    main {
    margin-top: 75px;
    transition: margin-top 0.6s ease 0s;
}
    /* header .fold~main{
    margin-top: 44px;
} */
}

:root{
    /* basic size 1rem  */
    --basic-font-pc:20px;
    --basic-font-tab:18px;
    --basic-font-mobile:14px;

    /*  color variation  */
    --baked-blue-0:#F5FAFF;
    --baked-blue-100:#C5E0FD;
    --baked-blue-200:#98C7F9;
    --baked-blue-300:#70AFF2;
    --baked-blue-400:#509AE9;
    --baked-blue-500-main:#3888DD;
    --baked-blue-600:#2777CD;
    --baked-blue-700:#1B67B8;
    --baked-blue-800:#1357A0;
    --baked-blue-900:#0E4887;

    /*  font-weight */
    --font-strong:700;
    --font-normal:400;

    /*  line-heigt */
    --base-line-height:120%;
    --text-line-height:140%;

    /*  spacing  */
    --space-normal:1rem;
    --space-x-small:0.5rem;
    --space-2x-small:0.25rem;
    --space-x-large:2rem;
    --space-2x-large:3rem;
    --space-3x-large:6rem;

    /* semantic color */
    --color-inactive: #8d8d8d;
    
    /* divice width */
    --device-tab : 1440px;
    --device-mobile : 786px;
}
    
html{
    font-size: var(--basic-font-pc);
    line-height: var(--base-line-height);
}
h1{
    font-size: 1.6rem;
    line-height: var(--base-line-height);
    font-weight: var(--font-strong);
}
h2{
    font-size: 1.4rem;
    line-height: var(--base-line-height);
    font-weight: var(--font-strong);
}
h3{
    font-size: 1.25rem;
    line-height: var(--base-line-height);
    font-weight: var(--font-strong);
}
h4{
    font-size: 1rem;
    line-height: var(--base-line-height);
    font-weight: var(--font-strong);
}
p{
    font-size: 1rem;
    line-height: var(--base-line-height);
    font-weight: var(--font-normal);
    line-height: var(--text-line-height);
}
.b2{
    font-size: 0.9rem;
    line-height: var(--base-line-height);
}
.detail{
    font-size: 0.8rem;
    line-height: var(--base-line-height);
}
.point-font{
    font-family: "PoetsenOne", system-ui;
    line-height: var(--base-line-height);
}
.common-frame{
    width: 1440px;
    margin: 0 auto;
}
.logo img{
    width: 5rem;
}
.btn-all-menu img{
    height: 1.2rem;
}
.ln1{
    display: -webkit-box;           
    /* 플렉스형 박스(옛 사양) / */
    -webkit-box-orient: vertical;  
    /* / 세로 방향 줄바꿈 기준 / */
    -webkit-line-clamp: 1;        
     /* / 보여줄 최대 줄 수 / */
    text-overflow: ellipsis;       
    /* / 말줄임 표기(보조)  */
    overflow: hidden;

}
.ln2{
    display: -webkit-box;           
    /* 플렉스형 박스(옛 사양) / */
    -webkit-box-orient: vertical;  
    /* / 세로 방향 줄바꿈 기준 / */
    -webkit-line-clamp: 2;        
     /* / 보여줄 최대 줄 수 / */
    text-overflow: ellipsis;       
    /* / 말줄임 표기(보조)  */
    overflow: hidden;

}
.ln3{
    display: -webkit-box;           
    /* 플렉스형 박스(옛 사양) / */
    -webkit-box-orient: vertical;  
    /* / 세로 방향 줄바꿈 기준 / */
    -webkit-line-clamp: 3;        
     /* / 보여줄 최대 줄 수 / */
    text-overflow: ellipsis;       
    /* / 말줄임 표기(보조)  */
    overflow: hidden;
}
.slider-container {
  overflow-x: auto;
  overflow-y: hidden;
  /* 슬라이드처럼 멈춤 */
  /* scroll-snap-type: x mandatory;  */
  -webkit-overflow-scrolling: touch; /* iOS 부드러운 스크롤 */
  white-space: nowrap;
  display: flex;
}

.slider-track {
  display: flex;
}
em{
    font-style: normal;
    color: var(--baked-blue-500-main);
}
@media(max-width: 1440px){
    html{
        font-size: var(--basic-font-tab);
    }
    .common-frame{
        width: auto;
        margin: 0 2rem;
    }
      main {
    margin-top: 73px;
}

    header.fold~main{
        margin-top: 94px;
    }
    header.fold~main{
        margin-top: 74px;
    }
}
@media(max-width: 786px){
    html{
        font-size: var(--basic-font-mobile);
    }
    .common-frame{
        width: auto;
        margin: 0 1rem;
    }
    main {
    margin-top: 73px;
}
}